

<div class="row">

</div>
{{#if user}}
<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <img src="{{user.link}}" alt="no" class="img-thumbnail float-start img-fluid shadow-sm p-3 mb-5 bg-white "  >
            </div>
            <div class="col-lg-10 col-md-10">
                <h3>{{user.nick}}</h3>
                <p>День рождения <strong>{{user.dtr}}</strong></p>
                <p>Город: <strong>{{user.city}}</strong></p>
                <p><span class="badge bg-success">{{user.status}}</span></p>
            </div>
            
        </div>
    </div>
</div>
{{/if}}
<div class="row">
    
    {{#if user}}
       <p>Здравствуйте, {{user.username}}</p>
    {{/if}}
</div>